<header class="topbar">
    <button class="menu-toggle" (click)="toggleSidebar.emit()">☰</button>

    <div class="topbar-right">
        <span class="user-name">Olá, {{ firstName }}!</span>

        <div class="user-avatar" (click)="isMenuOpen = !isMenuOpen">
            {{ firstName ? firstName[0] : 'U' }}
        </div>

        <div class="dropdown-menu" [class.show-menu]="isMenuOpen">
            <a routerLink="/perfil" class="dropdown-item">👤 Perfil</a>
            <a routerLink="/login" (click)="logout()" class="dropdown-item logout">🔌 Logout</a>
        </div>
    </div>
</header>
